@model ShopWebMVC.Models.Bakery

@{
    ViewData["Title"] = "تفاصيل المخبز";
}

<h1>تفاصيل المخبز</h1>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">الرقم التعريفي</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">اسم المخبز</dt>
        <dd class="col-sm-10">@Model.Name</dd>

       
    </dl>
</div>

<h3>البطاقات المرتبطة بهذا المخبز</h3>
<ul>
    @foreach (var card in Model.Cards)
    {
        <li>@card.FirstName @card.SecondName - (رقم البطاقة: @card.Id)</li>
    }
</ul>

<a asp-action="Index" class="btn btn-secondary">العودة للقائمة</a>
<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">تعديل</a>
<a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">حذف</a>
